In [31]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [32]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [33]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [34]:
# Get the crowdfunding_info_df columns.
crowdfunding_info_df.columns

Index(['cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launched_at',
       'deadline', 'staff_pick', 'spotlight', 'category & sub-category'],
      dtype='object')

In [35]:
# Assign the category and subcategory values to category and subcategory columns.
# Split the 'category & sub-category' column into 'category' and 'subcategory' columns
crowdfunding_info_df[['category', 'subcategory']] = crowdfunding_info_df['category & sub-category'].str.split('/', expand=True)

# Display the updated DataFrame with the new columns
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [36]:
# Get the unique categories and subcategories in separate lists.
categories = crowdfunding_info_df['category'].unique().tolist()
subcategories = crowdfunding_info_df['subcategory'].unique().tolist()
print(categories)
print(subcategories)

['food', 'music', 'technology', 'theater', 'film & video', 'publishing', 'games', 'photography', 'journalism']
['food trucks', 'rock', 'web', 'plays', 'documentary', 'electric music', 'drama', 'indie rock', 'wearables', 'nonfiction', 'animation', 'video games', 'shorts', 'fiction', 'photography books', 'radio & podcasts', 'metal', 'jazz', 'translations', 'television', 'mobile games', 'world music', 'science fiction', 'audio']

In [37]:
# Get the number of distinct values in the categories and subcategories lists.
print(len(categories))
print(len(subcategories))

9
24

In [38]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [39]:
# Use a list comprehension to add "cat" to each category_id. 
cat_ids = ['cat' + str(cat) for cat in category_ids]

# Use a list comprehension to add "subcat" to each subcategory_id.    
scat_ids = [f"subcat{subcat_id}" for subcat_id in subcategory_ids]

print(cat_ids)
print(scat_ids)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
['subcat1', 'subcat2', 'subcat3', 'subcat4', 'subcat5', 'subcat6', 'subcat7', 'subcat8', 'subcat9', 'subcat10', 'subcat11', 'subcat12', 'subcat13', 'subcat14', 'subcat15', 'subcat16', 'subcat17', 'subcat18', 'subcat19', 'subcat20', 'subcat21', 'subcat22', 'subcat23', 'subcat24']

In [40]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.
category_df = pd.DataFrame({'category_id': category_ids, 'category': categories})
# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name. 
subcategory_df = pd.DataFrame({'subcategory_id': subcategory_ids, 'subcategory': subcategories})

In [41]:
# Set the category_id as the index
#Reset the Index
category_df.reset_index(inplace=True, drop=True)

#adding the cat prefix to the category_id
category_df['category_id'] = ['cat' + str(i+1) for i in range(len(category_df))]

# Display the DataFrame with the new category_id column
category_df

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video
5        cat6    publishing
6        cat7         games
7        cat8   photography
8        cat9    journalism

In [42]:
#Fixing the numbers from subcategory_id to right position
subcategory_df.reset_index(inplace=True, drop=True)

#adding the subcat prefix to the subcategory_id
subcategory_df['subcategory_id'] = ['subcat' + str(i+1) for i in range(len(subcategory_df))]

# Display the DataFrame with the new subcategory_id column
subcategory_df

   subcategory_id        subcategory
0         subcat1        food trucks
1         subcat2               rock
2         subcat3                web
3         subcat4              plays
4         subcat5        documentary
5         subcat6     electric music
6         subcat7              drama
7         subcat8         indie rock
8         subcat9          wearables
9        subcat10         nonfiction
10       subcat11          animation
11       subcat12        video games
12       subcat13             shorts
13       subcat14            fiction
14       subcat15  photography books
15       subcat16   radio & podcasts
16       subcat17              metal
17       subcat18               jazz
18       subcat19       translations
19       subcat20         television
20       subcat21       mobile games
21       subcat22        world music
22       subcat23    science fiction
23       subcat24              audio

In [43]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=False)

subcategory_df.to_csv("Resources/subcategory.csv", index=False)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [44]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [45]:
# Rename the blurb, launched_at, and deadline columns.
campaign_df.rename(columns={'blurb': 'campaign', 'launched_at': 'launch_date', 'deadline': 'end_date'}, inplace=True)

In [46]:
# Merge campaign_df with category_df on the 'category' column
campaign_df = campaign_df.merge(category_df, how='left', left_on='category', right_on='category')

# Merge the result with subcategory_df on the 'subcategory' column
campaign_df = campaign_df.merge(subcategory_df, how='left', left_on='subcategory', right_on='subcategory')

# Display the updated DataFrame to confirm merges
campaign_df.head()

,cf_id,contact_id,company_name,campaign,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks,cat1,subcat1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock,cat2,subcat2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web,cat3,subcat3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock,cat2,subcat2
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays,cat4,subcat4

In [47]:
# Check the datatypes
dtype_df = campaign_df.dtypes
print(dtype_df)

cf_id                       int64
contact_id                  int64
company_name               object
campaign                   object
goal                        int64
pledged                     int64
outcome                    object
backers_count               int64
country                    object
currency                   object
launch_date                 int64
end_date                    int64
staff_pick                   bool
spotlight                    bool
category & sub-category    object
category                   object
subcategory                object
category_id                object
subcategory_id             object
dtype: object

In [48]:
# Format the launched_date and end_date columns to datetime format
from datetime import datetime as dt

# Convert the 'launch_date' and 'end_date' columns to datetime format
campaign_df['launch_date'] = pd.to_datetime(campaign_df['launch_date'], unit='s')
campaign_df['end_date'] = pd.to_datetime(campaign_df['end_date'], unit='s')

In [49]:
campaign_df = campaign_df.merge(category_df, how='left', left_on='category_id', right_on='category_id')
campaign_df = campaign_df.merge(subcategory_df, how='left', left_on='subcategory_id', right_on='subcategory_id')
campaign_df.head()

,cf_id,contact_id,company_name,campaign,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category_x,subcategory_x,category_id,subcategory_id,category_y,subcategory_y
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,2020-02-13 06:00:00,2021-03-01 06:00:00,False,False,food/food trucks,food,food trucks,cat1,subcat1,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,2021-01-25 06:00:00,2021-05-25 05:00:00,False,True,music/rock,music,rock,cat2,subcat2,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,2020-12-17 06:00:00,2021-12-30 06:00:00,False,False,technology/web,technology,web,cat3,subcat3,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,2021-10-21 05:00:00,2022-01-17 06:00:00,False,False,music/rock,music,rock,cat2,subcat2,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,2020-12-21 06:00:00,2021-08-23 05:00:00,False,False,theater/plays,theater,plays,cat4,subcat4,theater,plays

In [50]:
#CHECKING THE DATAFRAME AFTER MERGING THE DATAFRAMES

#Checking the columns 
print(campaign_df.columns)
#Checking the datatypes of the columns
print(campaign_df.dtypes)
#Checking the number of columns
print(len(campaign_df.columns))

Index(['cf_id', 'contact_id', 'company_name', 'campaign', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launch_date',
       'end_date', 'staff_pick', 'spotlight', 'category & sub-category',
       'category_x', 'subcategory_x', 'category_id', 'subcategory_id',
       'category_y', 'subcategory_y'],
      dtype='object')
cf_id                               int64
contact_id                          int64
company_name                       object
campaign                           object
goal                                int64
pledged                             int64
outcome                            object
backers_count                       int64
country                            object
currency                           object
launch_date                datetime64[ns]
end_date                   datetime64[ns]
staff_pick                           bool
spotlight                            bool
category & sub-category            object
category_x                         object
subcategory_x                      object
category_id                        object
subcategory_id                     object
category_y                         object
subcategory_y                      object
dtype: object
21

In [51]:
# Drop unwanted columns
columns_to_drop = ['staff_pick', 'spotlight', 'category & sub-category']
campaign_df = campaign_df.drop(columns=columns_to_drop)

# Display the DataFrame after dropping unwanted columns
campaign_df.head()

,cf_id,contact_id,company_name,campaign,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category_x,subcategory_x,category_id,subcategory_id,category_y,subcategory_y
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,2020-02-13 06:00:00,2021-03-01 06:00:00,food,food trucks,cat1,subcat1,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,2021-01-25 06:00:00,2021-05-25 05:00:00,music,rock,cat2,subcat2,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,2020-12-17 06:00:00,2021-12-30 06:00:00,technology,web,cat3,subcat3,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,2021-10-21 05:00:00,2022-01-17 06:00:00,music,rock,cat2,subcat2,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,2020-12-21 06:00:00,2021-08-23 05:00:00,theater,plays,cat4,subcat4,theater,plays

In [52]:
# Drop unwanted columns

# Identify columns to drop
columns_to_drop = ['category_x', 'subcategory_x', 'category_y', 'subcategory_y']
campaign_df = campaign_df.drop(columns=columns_to_drop)

# Rename columns as required
campaign_df.rename(columns={'campaign': 'description'}, inplace=True)

# Display the cleaned DataFrame
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,2020-02-13 06:00:00,2021-03-01 06:00:00,cat1,subcat1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,2021-01-25 06:00:00,2021-05-25 05:00:00,cat2,subcat2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,2020-12-17 06:00:00,2021-12-30 06:00:00,cat3,subcat3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,2021-10-21 05:00:00,2022-01-17 06:00:00,cat2,subcat2
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,2020-12-21 06:00:00,2021-08-23 05:00:00,cat4,subcat4

In [53]:
#Checking the columns after dropping the unwanted columns
print(campaign_df.columns)

Index(['cf_id', 'contact_id', 'company_name', 'description', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launch_date',
       'end_date', 'category_id', 'subcategory_id'],
      dtype='object')

In [54]:
# Reset index
campaign_df.reset_index(drop=True, inplace=True)

In [55]:
# Export the DataFrame as a CSV file. 
campaign_df.to_csv("Resources/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [56]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=2)
contact_info_df.head()

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [57]:
import pandas as pd

# Load the data from the file (adjust path as needed)
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=2)

# Display the first few rows to verify the data
print(contact_info_df.head())

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

In [58]:
# Diagnostic information
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
print(contact_info_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0           1001 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB
None

In [59]:
# Diagnostic information
print(contact_info_df.columns)

Index(['   '], dtype='object')

In [60]:
# Rename the column
contact_info_df.columns = ['contact_info']

# Verify the column name
print(contact_info_df.columns)

Index(['contact_info'], dtype='object')

In [61]:
#Checking the column after renaming
print(contact_info_df[~contact_info_df['contact_info'].apply(lambda x: isinstance(x, str))])

Empty DataFrame
Columns: [contact_info]
Index: []

In [62]:
#Diagnostic information
import ast

# Function to check parsing
def check_parsing(value):
    try:
        ast.literal_eval(value)  # Attempt to parse as a Python dictionary
        return True
    except Exception:
        return False

# Apply the parsing check
contact_info_df['parsing_check'] = contact_info_df['contact_info'].apply(check_parsing)

# Display rows that fail the parsing check
invalid_rows = contact_info_df[contact_info_df['parsing_check'] == False]
print("Rows failing parsing:")
display(invalid_rows)

# Optionally drop invalid rows if they cannot be fixed
contact_info_df = contact_info_df[contact_info_df['parsing_check'] == True].copy()

# Remove the temporary parsing_check column
contact_info_df.drop(columns=['parsing_check'], inplace=True)

Rows failing parsing:

   contact_info  parsing_check
0  contact_info          False

In [63]:
#Diagnostic information
# Check the data types in the 'contact_info' column
print(contact_info_df['contact_info'].apply(type).value_counts())

contact_info
<class 'str'>    1000
Name: count, dtype: int64

In [64]:
#Diagnostic information
# Inspect a few rows for possible formatting issues
print(contact_info_df['contact_info'].iloc[:10])

1      {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2             {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3               {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4     {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
5           {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}
6             {"contact_id": 5650, "name": "Socorro Luna", "email": "socorro.luna@hotmail.com"}
7        {"contact_id": 5889, "name": "Carolina Murray", "email": "carolina.murray@knight.com"}
8                    {"contact_id": 4842, "name": "Kayla Moon", "email": "kayla.moon@yahoo.de"}
9          {"contact_id": 3280, "name": "Ariadna Geisel", "email": "ariadna.geisel@rangel.com"}
10     {"contact_id": 5468, "name": "Danielle Ladeck", "email": "danielle.ladeck@scalfaro.net"}
Name: contact_info, dtype: object

In [65]:

#Diagnostic information
# Check which rows fail the parsing
def check_parsing(value):
    try:
        ast.literal_eval(value)
        return True
    except Exception:
        return False

contact_info_df['parsing_check'] = contact_info_df['contact_info'].apply(check_parsing)

# Display rows that fail the parsing check
print(contact_info_df[contact_info_df['parsing_check'] == False])

Empty DataFrame
Columns: [contact_info, parsing_check]
Index: []

In [66]:
#Looping through the rows that failed parsing
# Function to safely parse JSON-like strings and capture errors
def safe_parse(value):
    try:
        return ast.literal_eval(value)
    except Exception as e:
        print(f"Error parsing: {value}\nError: {e}")
        return None

# Apply parsing function to the column
contact_info_df['parsed'] = contact_info_df['contact_info'].apply(safe_parse)

# Check if any rows failed parsing
print(contact_info_df[contact_info_df['parsed'].isnull()])

Empty DataFrame
Columns: [contact_info, parsing_check, parsed]
Index: []

In [67]:
#Diagnostic information
# Inspect the raw content of the column
print(contact_info_df['contact_info'].head(10))

1      {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2             {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3               {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4     {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
5           {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}
6             {"contact_id": 5650, "name": "Socorro Luna", "email": "socorro.luna@hotmail.com"}
7        {"contact_id": 5889, "name": "Carolina Murray", "email": "carolina.murray@knight.com"}
8                    {"contact_id": 4842, "name": "Kayla Moon", "email": "kayla.moon@yahoo.de"}
9          {"contact_id": 3280, "name": "Ariadna Geisel", "email": "ariadna.geisel@rangel.com"}
10     {"contact_id": 5468, "name": "Danielle Ladeck", "email": "danielle.ladeck@scalfaro.net"}
Name: contact_info, dtype: object

In [68]:
#Diagnostic information
print(contact_info_df[contact_info_df['parsed'].isnull()])

Empty DataFrame
Columns: [contact_info, parsing_check, parsed]
Index: []

In [69]:
#Diagnostic information
print(contact_info_df['contact_info'].head(10))

1      {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2             {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3               {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4     {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
5           {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}
6             {"contact_id": 5650, "name": "Socorro Luna", "email": "socorro.luna@hotmail.com"}
7        {"contact_id": 5889, "name": "Carolina Murray", "email": "carolina.murray@knight.com"}
8                    {"contact_id": 4842, "name": "Kayla Moon", "email": "kayla.moon@yahoo.de"}
9          {"contact_id": 3280, "name": "Ariadna Geisel", "email": "ariadna.geisel@rangel.com"}
10     {"contact_id": 5468, "name": "Danielle Ladeck", "email": "danielle.ladeck@scalfaro.net"}
Name: contact_info, dtype: object

In [70]:
#Diagnostic information
problematic_rows = contact_info_df[contact_info_df['parsed'].isnull()]
print(problematic_rows['contact_info'])

Series([], Name: contact_info, dtype: object)

In [71]:
#Parsing the data
def safe_parse(value):
    try:
        return ast.literal_eval(value)
    except Exception as e:
        print(f"Error parsing: {value}\nError: {e}")
        return None

In [72]:
# Apply the safe_parse function to the 'contact_info' column
contact_info_df['parsed'] = contact_info_df['contact_info'].apply(safe_parse)

In [73]:
# Display the first few rows of the DataFrame
contact_info_df['parsed'] = contact_info_df['contact_info'].apply(safe_parse)
print(contact_info_df['parsed'].head(10))

1      {'contact_id': 4661, 'name': 'Cecilia Velasco', 'email': 'cecilia.velasco@rodrigues.fr'}
2             {'contact_id': 3765, 'name': 'Mariana Ellis', 'email': 'mariana.ellis@rossi.org'}
3               {'contact_id': 4187, 'name': 'Sofie Woods', 'email': 'sofie.woods@riviere.com'}
4     {'contact_id': 4941, 'name': 'Jeanette Iannotti', 'email': 'jeanette.iannotti@yahoo.com'}
5           {'contact_id': 2199, 'name': 'Samuel Sorgatz', 'email': 'samuel.sorgatz@gmail.com'}
6             {'contact_id': 5650, 'name': 'Socorro Luna', 'email': 'socorro.luna@hotmail.com'}
7        {'contact_id': 5889, 'name': 'Carolina Murray', 'email': 'carolina.murray@knight.com'}
8                    {'contact_id': 4842, 'name': 'Kayla Moon', 'email': 'kayla.moon@yahoo.de'}
9          {'contact_id': 3280, 'name': 'Ariadna Geisel', 'email': 'ariadna.geisel@rangel.com'}
10     {'contact_id': 5468, 'name': 'Danielle Ladeck', 'email': 'danielle.ladeck@scalfaro.net'}
Name: parsed, dtype: object

In [74]:
# Check data types of the column
print(contact_info_df['contact_info'].apply(type).value_counts())

contact_info
<class 'str'>    1000
Name: count, dtype: int64

In [75]:
# Find rows with non-string or unexpected content
print(contact_info_df[~contact_info_df['contact_info'].apply(lambda x: isinstance(x, str))])

Empty DataFrame
Columns: [contact_info, parsing_check, parsed]
Index: []

In [76]:
# Display raw content with special characters revealed
print(repr(contact_info_df['contact_info'].iloc[:5]))

1     {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2            {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3              {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4    {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
5          {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}
Name: contact_info, dtype: object

In [77]:
import re

# Define a basic regex to validate JSON-like structure
json_pattern = r'^\{.*\}$'

# Identify rows that don't match the pattern
invalid_rows = contact_info_df[~contact_info_df['contact_info'].str.match(json_pattern)]
print(invalid_rows)

Empty DataFrame
Columns: [contact_info, parsing_check, parsed]
Index: []

In [78]:
import json

# Safely parse JSON-like strings
def safe_json_parse(value):
    try:
        return json.loads(value)
    except json.JSONDecodeError as e:
        print(f"Error parsing: {value}\nError: {e}")
        return None

# Apply the parsing function to the column
contact_info_df['parsed'] = contact_info_df['contact_info'].apply(safe_json_parse)

# Check if any rows failed parsing
print(contact_info_df[contact_info_df['parsed'].isnull()])

Empty DataFrame
Columns: [contact_info, parsing_check, parsed]
Index: []

In [79]:
# Display raw content of the failing row(s) to inspect the exact issue
for row in failing_rows['contact_info']:
    print(repr(row))  # Reveals special characters or anomalies

NameError: name 'failing_rows' is not defined

In [ ]:
# Check for rows with empty or problematic content
problematic_rows = contact_info_df[contact_info_df['contact_info'].str.strip() == '']
print("Problematic rows:\n", problematic_rows)

# Remove empty rows
contact_info_df = contact_info_df[contact_info_df['contact_info'].str.strip() != '']

Problematic rows:
 Empty DataFrame
Columns: [contact_info, parsing_check, parsed]
Index: []

In [ ]:

# Check for rows with non-string names
non_string_names = contact_info_df[~contact_info_df['name'].apply(lambda x: isinstance(x, str))]
print(non_string_names)

Empty DataFrame
Columns: [contact_info, parsing_check, parsed, contact_id, name, email]
Index: []

In [ ]:
# Display the failing row's content
failing_rows = contact_info_df[contact_info_df['parsed'].isnull()]
print(f"Failing row(s):\n{failing_rows['contact_info'].tolist()}")

Failing row(s):
[]

In [ ]:
# Display raw content of the failing row(s) to inspect the exact issue
for row in failing_rows['contact_info']:
    print(repr(row))  # Reveals special characters or anomalies

'contact_info'

In [ ]:
# Remove rows where the content is 'contact_info' (or any other placeholder string)
contact_info_df = contact_info_df[contact_info_df['contact_info'] != 'contact_info']

# Reapply the parsing function
contact_info_df['parsed'] = contact_info_df['contact_info'].apply(safe_json_parse)

# Verify the parsed data
print(contact_info_df['parsed'].head())

1     {'contact_id': 4661, 'name': 'Cecilia Velasco', 'email': 'cecilia.velasco@rodrigues.fr'}
2            {'contact_id': 3765, 'name': 'Mariana Ellis', 'email': 'mariana.ellis@rossi.org'}
3              {'contact_id': 4187, 'name': 'Sofie Woods', 'email': 'sofie.woods@riviere.com'}
4    {'contact_id': 4941, 'name': 'Jeanette Iannotti', 'email': 'jeanette.iannotti@yahoo.com'}
5          {'contact_id': 2199, 'name': 'Samuel Sorgatz', 'email': 'samuel.sorgatz@gmail.com'}
Name: parsed, dtype: object

In [ ]:
# Extract 'contact_id', 'name', and 'email' from the parsed dictionaries
contact_info_df['contact_id'] = contact_info_df['parsed'].apply(lambda x: x['contact_id'])
contact_info_df['name'] = contact_info_df['parsed'].apply(lambda x: x['name'])
contact_info_df['email'] = contact_info_df['parsed'].apply(lambda x: x['email'])

# Display the updated DataFrame
print(contact_info_df[['contact_id', 'name', 'email']].head())

   contact_id               name                         email
1        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr
2        3765      Mariana Ellis       mariana.ellis@rossi.org
3        4187        Sofie Woods       sofie.woods@riviere.com
4        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com
5        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com

In [ ]:
# Export the DataFrame as a CSV file
contact_info_df.to_csv('Resources/contact_info.csv', index=False)